@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
:root{
    --bg-color: #000000;
    --bg-second-color: #282A3A;
    --text-color:#eeeeee;
    --main-color: aqua;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins", sans serif ;
}
body{
    background: var(--bg-color);
    color: #eeeeee;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}   
.logo{
    position: relative;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 2s ease forwards;
    animation-delay: 4s;
}
.navbar a {
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    background: url(bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}
.home-content{
    max-width: 60rem;
}
.home-content h1{
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 2s ease forwards;
    animation-delay: 2s;
}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    position: relative;
    font-size: 3.2rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 2s ease forwards;
    animation-delay: 2.3s;
}
.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 3rem 0 6rem;
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 2s ease forwards;
    animation-delay: 2.6s;
}
.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 2s ease forwards;
    animation-delay: 2.9s;
    z-index: 2;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid --main-color;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: var(--main-color);
}
.btn-box a:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box a:nth-child(2):hover{
    color: black;
}
.btn-box a:nth-child(2)::before{
    background: var(--main-color);
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-color);
    transition: .5s;
}

.btn-box a:hover:before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  var(--bg-color);
    animation: showRight 2s ease forwards;
    animation-delay: 3.2s;
    z-index: 2;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    font-size: 2rem;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #000000;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}
.imagehover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}
.imagehover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 2s ease forwards;
    animation-delay: 3.2s;
    z-index: 100;
}
.imagehover:hover{
    background-color:var(--bg-color);
    opacity: .5;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-second-color);
    padding-bottom: 6rem;
}


.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: var(--main-color);
}

.img-about{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-about img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.img-about .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-second-color);
    border-bottom: .2rem solid var(--bg-second-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}
.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
    height: 100%;
}

.btn-box.btns a::before{
    background-color: var(--bg-second-color);
}

/*KEYFRAMES MOTION*/
@keyframes showRight{
    100%{
        width: 0;
    }
}
@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}